<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iqianjin.test.teststage.dao.ModuleRelationshipMapper" >
  <resultMap id="BaseResultMap" type="com.iqianjin.test.teststage.entity.ModuleRelationship" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plat_info" property="platInfo" jdbcType="VARCHAR" />
    <result column="feature_module" property="featureModule" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, plat_info, feature_module, create_user, create_date, remark, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from module_relationship
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAllModule" resultType="com.iqianjin.test.teststage.entity.ModuleRelationship">
    select * from module_relationship order by id desc
  </select>

  <select id="findModuleByPlatInfo" resultType="com.iqianjin.test.teststage.entity.ModuleRelationship" parameterType="java.lang.String">
    select * from module_relationship where plat_info like "%"#{platInfo, jdbcType=VARCHAR}"%"
  </select>

    <select id="getAllPlatInfo" resultType="java.lang.String">
      SELECT DISTINCT plat_info FROM module_relationship
    </select>

  <select id="getFeatureModuleByPlatInfo" resultType="java.lang.String">
    SELECT DISTINCT feature_module FROM module_relationship WHERE plat_Info = #{platInfo, jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from module_relationship
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iqianjin.test.teststage.entity.ModuleRelationship" >
    insert into module_relationship (id, plat_info, feature_module, 
      create_user, create_date, remark, 
      flag)
    values (#{id,jdbcType=INTEGER}, #{platInfo,jdbcType=VARCHAR}, #{featureModule,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{flag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.iqianjin.test.teststage.entity.ModuleRelationship" >
    insert into module_relationship
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platInfo != null" >
        plat_info,
      </if>
      <if test="featureModule != null" >
        feature_module,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platInfo != null" >
        #{platInfo,jdbcType=VARCHAR},
      </if>
      <if test="featureModule != null" >
        #{featureModule,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iqianjin.test.teststage.entity.ModuleRelationship" >
    update module_relationship
    <set >
      <if test="platInfo != null" >
        plat_info = #{platInfo,jdbcType=VARCHAR},
      </if>
      <if test="featureModule != null" >
        feature_module = #{featureModule,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iqianjin.test.teststage.entity.ModuleRelationship" >
    update module_relationship
    set plat_info = #{platInfo,jdbcType=VARCHAR},
      feature_module = #{featureModule,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>