<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iqianjin.test.teststage.dao.PackageMapper" >
  <resultMap id="BaseResultMap" type="com.iqianjin.test.teststage.entity.Package" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="package_type" property="packageType" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="upload_user" property="uploadUser" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_uri" property="fileUri" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="BIGINT" />
    <result column="release_date" property="releaseDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, type, package_type, create_date, upload_user, file_name, file_uri, file_size, 
    release_date, remark, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from package
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from package
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iqianjin.test.teststage.entity.Package" >
    insert into package (id, version, type, 
      package_type, create_date, upload_user, 
      file_name, file_uri, file_size, 
      release_date, remark, flag
      )
    values (#{id,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{packageType,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, #{uploadUser,jdbcType=VARCHAR}, 
      #{fileName,jdbcType=VARCHAR}, #{fileUri,jdbcType=VARCHAR}, #{fileSize,jdbcType=BIGINT}, 
      #{releaseDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{flag,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iqianjin.test.teststage.entity.Package" >
    insert into package
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="packageType != null" >
        package_type,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="uploadUser != null" >
        upload_user,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileUri != null" >
        file_uri,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="releaseDate != null" >
        release_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="packageType != null" >
        #{packageType,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadUser != null" >
        #{uploadUser,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUri != null" >
        #{fileUri,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="releaseDate != null" >
        #{releaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iqianjin.test.teststage.entity.Package" >
    update package
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="packageType != null" >
        package_type = #{packageType,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadUser != null" >
        upload_user = #{uploadUser,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUri != null" >
        file_uri = #{fileUri,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="releaseDate != null" >
        release_date = #{releaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iqianjin.test.teststage.entity.Package" >
    update package
    set version = #{version,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      package_type = #{packageType,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      upload_user = #{uploadUser,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_uri = #{fileUri,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=BIGINT},
      release_date = #{releaseDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>