<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iqianjin.test.teststage.dao.TaskRecordMapper" >
  <resultMap id="BaseResultMap" type="com.iqianjin.test.teststage.entity.TaskRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="interface_id" property="interfaceId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="report_url" property="reportUrl" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="build_no" property="buildNo" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, interface_id, create_time, update_time, report_url, flag, description, title, 
    user_name, build_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from task_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectTestCaseIdsById" resultType="java.lang.String">
    select interface_id
    from task_record
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="findMaxId" resultType="java.lang.Integer">
      select MAX(id)
      from task_record
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from task_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iqianjin.test.teststage.entity.TaskRecord" >
    insert into task_record (id, interface_id, create_time, 
      update_time, report_url, flag, 
      description, title, user_name, 
      build_no)
    values (#{id,jdbcType=INTEGER}, #{interfaceId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{reportUrl,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{buildNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iqianjin.test.teststage.entity.TaskRecord" >
    insert into task_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="interfaceId != null" >
        interface_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="reportUrl != null" >
        report_url,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="buildNo != null" >
        build_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="interfaceId != null" >
        #{interfaceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportUrl != null" >
        #{reportUrl,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="buildNo != null" >
        #{buildNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iqianjin.test.teststage.entity.TaskRecord" >
    update task_record
    <set >
      <if test="interfaceId != null" >
        interface_id = #{interfaceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportUrl != null" >
        report_url = #{reportUrl,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="buildNo != null" >
        build_no = #{buildNo,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iqianjin.test.teststage.entity.TaskRecord" >
    update task_record
    set interface_id = #{interfaceId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      report_url = #{reportUrl,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      build_no = #{buildNo,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>